<h1>コメント投稿</h1>
<%= form_for(@comment) do |f| %>
	<div class="field">
		<%= f.label "コメント" %>
		<%= f.text_area :content %>
	</div>

	<%= f.hidden_field :article_id, :value => @article.id %>
	
	<div class="actions">
    	<%= f.submit %>
 	</div>
<% end %>